/**
 * .page-404 
 */
.page-404 {color: #afb5bf; padding-top: 60px; padding-bottom: 90px;}
.page-404 .error-title { font-size: 80px;}
.page-404 .error-description { font-size: 24px;}
.page-404 .error-info {font-size: 14px; padding: 10px 0;}
.c-primary, .c-primary a, a.c-primary {color: #5a98de;}
.ml-20 { margin-left: 20px;}